{% extends 'layout.html' %}

{% load static %}

{% block body %}

    <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'assets/img/image.jpg.png' %}" alt="" data-aos="fade-in" class="" style="width: 1000px; height: 1200">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Jade Njoki</h2>
        <p>I'm a <span class="typed" data-typed-items="Student, Data analyst, Freelancer">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>"Hello! I'm Jade Njoki Njeri, a passionate Data Science and Analytics student with a knack for unraveling data stories. Driven by curiosity and precision, I specialize in transforming complex datasets into meaningful insights."</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="{% static 'assets/img/image.png.png' %}" class="img-fluid" style="height: 150px;" alt="" >
          </div>
          <div class="col-lg-8 content">
            <p class="py-3">
               I specialize in uncovering trends and crafting data-driven solutions to real-world challenges. With hands-on experience in Python, Excel, SQL and data visualization tools like Power BI and Tableau, I thrive on making complex data accessible and meaningful.
            </p>

            <p class="py-3">
              I bring a keen eye for detail, a commitment to accuracy, and a collaborative mindset to every project. Let's work together to unlock the full potential of your data!
            </p>
          </div>
        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Skills Section -->
    <section id="skills" class="skills section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Skills</h2>
        <p>As a Data Analyst, I have honed a wide range of technical skills that enable me to transform raw data into actionable insights. </p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>Excel</span> <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Python</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="90"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Data visualization</span> <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="85"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>Exploratory Data Analysis (EDA)</span> <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>PowerBI</span> <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Tableau</span> <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="75"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

        </div>

      </div>

    </section><!-- /Skills Section -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>

      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

              <div class="resume-item pb-0">

            </div><!-- Edn Resume Item -->

              <div class="resume-item">
              <h3 class="resume-title">Profile</h3>
              <p>Highly motivated and data-driven individual with strong technical, documentation, and project management skills</p>
            </div><!-- Edn Resume Item -->


            <div class="resume-item">
              <h3 class="resume-title">Education</h3>
              <h4>BACHELOR OF SCIENCE IN DATA SCIENCE & ANALYTICS</h4>
              <h5>2023 - Expected Graduation: 2026</h5>
              <p><em>Jomo Kenyatta University of Agriculture and Technology, Nairobi, Kenya</em></p>
              <p>Relevant coursework: Statistical Analysis, Regression Modelling, Project Management for Data Science, Theory of Estimation, Design and Analysis of Experiments and many others.</p>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="resume-item">
            <h3 class="resume-title">ALX Career Essentials Certificate</h3>

              <h5>2024</h5>
              <p>Certificate for participation in a comprehensive course on data and AI career essentials, covering data analysis, AI content creation, and career-building strategies.</p>

            </div><!-- Edn Resume Item -->



          </div>

          </div>

      </div>

    </section><!-- /Resume Section -->


    <!-- Projects Section -->
    <section id="projects" class="Projects Section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Projects</h2>
        <p>Below are some of my key projects that illustrate my proficiency in data science and analytics. Each project reflects my commitment to data-driven insights, technical skills, and dedication to delivering impactful solutions.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <section id="projects" class="py-5">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'assets/img/movie budget.png'%}" class="card-img-top " alt="Project 1">
                        <div class="card-body">
                            <h5 class="card-title">Movie Revenue and Budget Analysis</h5>
                            <p class="card-text">Analyzed a dataset of movies using Pandas and Matplotlib.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'assets/img/sales-data-analysis-examples-4.jpg'%}" class="card-img-top" alt="Project 2">
                        <div class="card-body">
                            <h5 class>Sales Data Analysis</h5>
                            <p class="card-text">Analyzed sales data using Excel and Tableau to identify trends.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img src="{% static 'assets/img/customer segmentation.png'%}" class="card-img-top" alt="Project 3">
                        <div class="card-body">
                            <h5 class="card-title">Customer Segmentation Analysis</h5>
                            <p class>Developed a model to segment customers using K-means clustering."</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          </div>

    </section><!-- /Projects Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Feel free to reach out to me via the following channels</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">

            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>Kasarani Nairobi,Kenya</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Phone number</h3>
                  <p>+254 702777472</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email</h3>
                  <p>jnjokinjeri2003@gmail.com</p>
                </div>
              </div><!-- End Info Item -->

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.123456789!2d36.90223!3d-1.2185!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2sKasarani%2C%20Nairobi%2C%20Kenya!5e0!3m2!1sen!2ske!4v1699456880000!5m2!1sen!2ske" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>></iframe>
            </div>
          </div>

          <div class="col-lg-7">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <label for="name-field" class="pb-2">Your Name</label>
                  <input type="text" name="name" id="name-field" class="form-control" required="">
                </div>

                <div class="col-md-6">
                  <label for="email-field" class="pb-2">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="subject-field" class="pb-2">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="message-field" class="pb-2">Message</label>
                  <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

{% endblock %}

